.parent {
    height: auto;
    width: auto;
}

.green-box {
    float: left;
    background-color: yellowgreen;
    width: 80%;
    height: 50px;
}

.blue-box {
    float: left;
    background-color: royalblue;
    width: 20%;
    height: 50px;
}

.red-box {
    float: left;
    background-color: red;
    width: 33.33%;
    height: 100px;
}

.lightorange-box {
    float: left;
    background-color: orange;
    width: 33.33%;
    height: 100px;
}

.lightgrey-box {
    float: left;
    background-color: lightgray;
    width: 33.33%;
    height: 100px;
}

.yellow-box {
    float: left;
    background-color: yellow;
    width: 22.222%;
    height: 100px;
}

.cyan-box {
    float: left;
    background-color: cyan;
    width: 22.222%;
    height: 100px;
}

.darkorange-box {
    float: left;
    background-color: orangered;
    width: 22.222%;
    height: 100px;
}

.biggrey-box {
    float: left;
    background-color: grey;
    width: 100%;
    height: 200px;
}